<script>
jQuery(document).ready(function(){
			#if($!user)						
		jQuery(".My_idle").hover(function(){
						if(jQuery(this).find("a:first").attr("user_id")!=""){
						var dis =jQuery(".My_idle_list").css("display");
						jQuery(".My_idle_list").show();
							}
						},function(){
						if(jQuery(this).find("a:first").attr("user_id")!=""){
						var dis =jQuery(".My_idle_list").css("display");
						jQuery(".My_idle_list").hide();
							}
							});	
		#end
		jQuery(".index_nav_list ul li").hover(
			function(){
					jQuery(this).parent().find(".div_left").removeClass("hover");									   
					jQuery(this).find(".div_left").addClass("hover");
					jQuery(this).parent().find("li .div_right").hide();
					jQuery(this).find(".div_right").show();
			  },function(){
				 jQuery(this).find(".div_right").hide(); 
				  
			});
									
});
</script>

<div class="Idle_nav" >
  <div class="Idle_menu">
    <div class="index_Classify"> <a href="javascript:void(0);">热门二手分类</a> </div>
    <ul class="index_navigation">
       #foreach($nav in $navs)
      <li><a href="$!nav.url"  #if($!nav.new_win==1)target="_blank" #end>$!nav.title</a></li>
     #end 
    </ul>
    <div class="My_idle"> <a href="javascript:void(0);" user_id="$!user.id" #if(!$!user) dialog_uri="$!webPath/user_dialog_login.htm" dialog_title="会员登录" dialog_width="450" dialog_height="100" dialog_id="user_login" #end>我的闲置</a>
      <div class="My_idle_list" style="display:none">
        <ul >
          <li><a href="$!webPath/seller/spare_goods.htm?type=0" target="_blank">出售中: <span> $!selling </span>件</a></li>
          <li><a href="$!webPath/seller/spare_goods.htm?type=-1" target="_blank">下架中: <span> $!down </span>件</a></li>
          <li><a href="$!webPath/seller/spare_goods.htm" target="_blank">违规中: <span> $!drops </span>件</a></li>
        </ul>
      </div>
    </div>
    <div class="release"><a href="$!webPath/seller/add_spare_goods.htm" target="_blank">发布宝贝</a></div>
    <!--所有分类下拉 start-->
    <div class="index_nav_list">
      <ul>
        #foreach($sgc in $sgcs)
        <li class="item">
          <div class="div_left"> <a class="font_14" href="$!webPath/sparegoods_search.htm?cid=$!sgc.id" target="_blank">$!sgc.className</a> #foreach($child in $sgc.childs)
            #if($!velocityCount<=2 ) <a class="font_12" href="$!webPath/sparegoods_search.htm?cid=$!child.id" target="_blank">$!child.className</a> #end
            #end </div>
          <div class="div_right" style="display:none;"> #foreach($child in $sgc.childs)
            <dl>
              <dt><a href="$!webPath/sparegoods_search.htm?cid=$!child.id" target="_blank">$!child.className</a></dt>
              <dd>
                <ul>
                  #foreach($c in $child.childs)
                  <li><a href="$!webPath/sparegoods_search.htm?cid=$!c.id" target="_blank">$!c.className</a></li>
                  #end
                </ul>
              </dd>
            </dl>
            #end </div>
        </li>
        #end
      </ul>
    </div>
  </div>
</div>
