@charset "utf-8";
/* CSS Document */

body{ margin:0px; font-size:12px; color:#000; padding:0px; font-family:"微软雅黑",Arial, Helvetica, sans-serif; height:100%; background:#fff;}
html{ height:100%}
ul{padding:0px;margin:0px;list-style:none; }
li{padding:0px;margin:0px;list-style:none;}
ol,ul,li{list-style-image:none;
list-style-position:outside;
list-style-type:none;}
dd,dt,dl{ padding:0px; margin:0px;} 
img{ border:0px;}
h1,h2,h3,h4,h5,h6{font-size:14px;padding:0px;margin:0px;}
a{ text-decoration:none; color:#000;}
a:hover{ color:#EE4F00;}
table{ border-collapse:collapse}
form, fieldset, legend, input, button, textarea, p, blockquote{ margin:0px; padding:0px; font-size:12px;}
i,em,b{ text-decoration:none; font-style:normal; font-weight:lighter;}

.install_head{ width:100%; height:82px; background:url(../images/install/intetall_head.gif) no-repeat center center;}
.install{ width:735px; overflow:hidden; margin-left:auto; margin-right:auto; }
.install_box{ width:735px; float:left; overflow:hidden;}
.install_box_top{ background:url(../images/install/ins_top.jpg) no-repeat; width:735px; float:left; overflow:hidden; height:9px;}
.install_box_logo{ background:url(../images/install/install_box_logo.gif) no-repeat; width:735px; float:left; overflow:hidden; height:79px;}
.install_box_bg{ width:735px; float:left; overflow:hidden; background:url(../images/install/install_box_bg.gif);}
.ins_box_botm{ width:735px; float:left; overflow:hidden; background:url(../images/install/ins_box_botm.jpg) no-repeat; height:24px;}
.install_logo{ width:197px; height:49px; float:left; padding-top:20px; padding-left:20px;}
.install_t{ color:#000; font-size:18px; font-family:"微软雅黑"; font-weight:bold; padding-top:32px; padding-left:10px; display:block; float:left}
.install_edition{ color:#000; float:right; margin-right:40px; padding-top:50px; font-family:"Times New Roman", Times, serif; }
.install_conent{ width:719px; padding:8px; float:left; overflow:hidden}
.instal_step{ width:719px; height:50px; float:left; padding-top:7px; overflow:hidden;}
.instal_step span{ float:left; width:239px; height:57px; overflow:hidden; display:inline;}
.instal_step span i{ display:inline; float:left; background:url(../images/install/ins_step_hui.jpg) no-repeat; width:44px; height:44px; margin-left:60px; color:#666; text-align:center; line-height:44px; font-size:20px; font-weight:bold;} 
.instal_step span .this{ background:url(../images/install/ins_step_blue.jpg) no-repeat; width:44px; height:44px; color:#fff;}
.instal_step span b{ display:block; float:left; height:44px; line-height:44px; color:#666; font-size:16px; font-family:"微软雅黑"; padding-left:10px;}
.instal_step span .this_b{ color:#2E69AF;}
.insprogess{ width:719px; float:left; overflow:hidden; margin-top:10px;}
.insprogess_a{ width:719px; float:left; background:url(../images/install/progress_1.jpg) no-repeat; height:7px; overflow:hidden;}
.insprogess_b{ width:719px; float:left; background:url(../images/install/progress_2.jpg) no-repeat; height:7px; overflow:hidden;}
.insprogess_c{ width:719px; float:left; background:url(../images/install/progress.jpg) no-repeat; height:7px; overflow:hidden;}
.install_agreement{ color:#666; line-height:20px; width:647px; float:left; margin-top:10px; overflow:auto;  margin:25px; padding:10px; border:1px solid #ccc; background:#fff; height:300px; overflow:hidden; margin-bottom:10px; display:inline;}
.install_agreement .agree_txt{ width:635px; height:290px; overflow-y:scroll; padding:5px; font-size:14px; color:#000; line-height:25px; float:left;}
.install_agree{ float:left; width:686px;  overflow:hidden; font-size:12px; color:#666; padding-left:25px;*margin-top:-5px; *margin-left:-2px;}
.install_agree span{ margin-right:5px;line-height:10px; display:block; float:left;} 
.agrees{ margin-top:1px;margin-top:3px\9;  *padding-top:5px;}
.install_width{ width:719px; float:left; overflow:hidden; margin-top:5px; text-align:center}
.install_btn{ background:url(../images/install/install_btn.jpg) no-repeat; width:100px; height:33px; color:#555; font-weight:bold; font-size:14px; border:0px; font-family:"微软雅黑"}



.install_software_box{ width:719px;float:left; overflow:hidden; }
.install_table{ float:left; border-collapse:collapse; margin-top:10px; font-size:14px;font-family:"微软雅黑"}
.install_table td{ padding-top:10px; padding-bottom:5px; padding-left:10px;}
.install_input { width:220px; height:20px; line-height:18px; border-top:1px solid #666;border-left:1px solid #666;border-right:1px solid #ccc;border-bottom:1px solid #ccc; *margin-top:-1px; float:left;}
.install_check{ display:block; float:left; margin-right:10px;}
.install_check_txt{ display:block; float:left; font-weight:lighter; font-size:12px; color:#333; *margin-top:5px;}
.font_b{ font-weight:bold}
.install_software_width{ width:719px; float:left; overflow:hidden; text-align:center;}
.install_software_btn{ background:url(../images/install/insdisablebtn.jpg) no-repeat; font-size:14px; height:30px; width:100px; display:block; color:#444; text-align:center; border:0px; margin-right:5px; margin-top:15px;font-family:"微软雅黑"; float:left; margin-left:5px;}
.install_s{ width:330px; margin-left:auto; margin-right:auto; display:block}
.install_ul{ float:left; overflow:hidden; width:659px; padding-left:50px; padding-right:10px; padding-top:20px; padding-bottom:10px;}
.install_ul li{ margin-top:5px; line-height:28px; height:28px; width:600px; float:left; font-size:14px;}
.install_ul li span{ width:28px; height:28px; display:block; overflow:hidden; float:right; text-align:center;}
.install_ts{ color:#F30; padding-left:10px; font-size:12px; font-weight:lighter;  line-height:20px;}
.install_software_btn2{ background:url(../images/install/insdisablebtn.jpg) no-repeat; font-size:14px; height:30px; width:100px; display:block; color:#999; text-align:center; border:0px; float:right; margin-right:10px; margin-top:15px;font-family:"微软雅黑"}

.install_ul2{ width:699px; float:left; overflow:hidden; padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px;}
.install_ul2 li{ width:699px; height:28px; line-height:28px; margin-top:5px; float:left; font-size:14px; text-align:center}
.install_green{ background:url(../images/install/install_green.jpg) no-repeat left center; padding-left:35px; padding-top:5px; padding-bottom:5px;}
.install_ul2 li a{ color:#4B8FBC; font-weight:bold}
.install_ul2 li a:hover{ color:#090}



.install_foot{ width:100%; overflow:hidden;padding-bottom:5px;border-top:1px solid #ccc; padding-top:5px; }
.install_foot_box{ width:735px; overflow:hidden; margin-left:auto; margin-right:auto;}
.install_foot_box ul li{ text-align:center; color:#000; line-height:30px;}
.install_foot_box ul li a{ color:#000; margin-left:5px; margin-right:5px;}
.install_foot_box ul li a:hover{ color:#0C73A2} 
/**验证样式**/
label.error {
	background:url("images/error.gif") no-repeat;
	padding-left:20px;
	color:#FF0000;
	margin-left:5px;
	font-size:12px;
}
input.error {
	border:2px solid #FF0000;
}








