@charset "utf-8";
/* CSS Document */
/*搜索商品列表*/

.fenye_w{ width:100%; float:left; margin-top:20px;text-align:center}
.fenye_w span{ padding-top:5px; padding-bottom:5px; }
.fenye_w a{ color:#000; margin-left:2px; margin-right:2px;padding-top:2px; padding-bottom:2px;padding-left:5px; padding-right:5px;border:1px solid #CCCCCC;}
.fenye_w .this{ padding-top:2px; padding-bottom:2px; background:#FEA900; color:#FFF; padding-left:5px; padding-right:5px;border:1px solid #F57202;}
.fenye_w a:hover{background:#FEA900; color:#FFF;border:1px solid #F57202; }


.index2_left{ width:208px; overflow:hidden; float:left;border:1px solid #DEDEDE; float:left;}
.index2_left h1{ font-size:14px; font-weight:bold; height:30px; line-height:30px; padding-left:10px; border-bottom:1px solid #DEDEDE; border-top:0px; color:#666; background:#f1f1f1;}

.index2_list{ width:787px;  float:left;  margin-right:5px;}
@media screen and (min-widht:800px) and (max-width:1024px){
.index2{ width:1002px; padding-bottom:10px;}
.index2_list{ width:787px; padding-left:5px; float:left; }
.chosenb{ width:640px;}
.brandsort_screen_top{ width:786px;}
}

@media screen and (min-width:1024px) {
.index2{ width:1202px; padding-bottom:10px; }
.index2_list{ width:987px; float:left; }
.chosenb{ width:850px;}
.brandsort_screen_top{ width:986px;}
}

/*搜索店铺列表*/
@media screen and (min-widht:800px) and (max-width:1024px){
.Hot_cf_list li { width:327px;}
.Hot_cf_store_top { width:995px;}
.Hot_cf_main_list_right { width:580px; overflow:hidden;}
}

@media screen and (min-width:1024px) {
.Hot_cf_list li { width:393px;}
.Hot_cf_store_top { width:1195px;}
.Hot_cf_main_list_right { width:780px; overflow:hidden;}

.Hot_cf_main_list_right .right_list li { margin-left:5px; display:inline}
}

/*买就送天天特价*/
@media screen and (min-widht:800px) and (max-width:1024px){
.index_special{ width:1002px;}
.special_main { width:988px; padding:10px 5px;}
.special_main_box{ width:998px; float:left;}
.special_list { margin:10px 5px;}
}
@media screen and (min-width:1024px) {
.index_special{ width:1202px;}
.special_main { width:1188px; padding:10px 10px;}
.special_main_box{ width:1198px; float:left;}
.special_list { margin:10px 0px;}
}
/*商品热卖*/
@media screen and (min-widht:800px) and (max-width:1024px){
	.product_list_hot{ width:1002px; }
	.product_list_hot .product_one{width:244px; }
	.product_list_hot .product_border{width:236px; }
	.product_list_hot .product_ul{ padding:8px;}
}
@media screen and (min-width:1024px) {
		.product_list_hot{ width:1202px; }
		.product_list_hot .product_one{width:240px; }
		.product_list_hot .product_border{width:232px; }
		.product_list_hot .product_ul{ padding:6px;}
	
}

/*活动页面*/
@media screen and (min-widht:800px) and (max-width:1024px){
.active_box{ width:1002px;}
.active_right{ display:none;}
.active_banner{ width:1002px;}
.active_list{ width:1002px;}
.active_list_one{margin-right:12px;}
.active_list_box{ width:1013px;}
}
@media screen and (min-width:1024px) {
.active_box{ width:1202px;}	
.active_right{ float:left; width:200px; height:341px; display:block }
.active_banner{ width:1202px;}
.active_list{ width:1202px;}
.active_list_one{margin-right:14px;}
.active_list_box{ width:1220px;}
}