@charset "utf-8";
/* CSS Document */
dd,dt,dl{ padding:0px; margin:0px;}
.photo_manage{ width:788px; padding-left:20px; overflow:hidden; position:relative; padding-top:10px;}
.photo_oper{ padding:5px 10px; border:1px solid #F1EBED; background:#F7F7F7; position:relative; z-index:1000;}
.photo_creat{ border:1px solid #E4E4E4; height:23px;  width:103px; background:url(../images/user_photo/creatph.jpg) repeat-x;}
.photo_creata{ background:url(../images/user_photo/phcra.jpg) no-repeat 10px center; display:block; padding-left:37px; height:15px; margin-top:5px; line-height:15px; font-weight:bold; color:#AAA9A9;}
.photo_creata:hover{background:url(../images/user_photo/phcrb.jpg) no-repeat 10px center; color:#0865F2;} 
.photo_sort{ position:absolute; right:10px; top:5px; _right:20px; z-index:1000;}
.photo_sort span{ display:block; float:left; line-height:23px;}
.sort_sp{ width:148px; height:23px; float:left; border:1px solid #E5E3E3; _overflow:hidden;}
.sort_sp span{ display:block; height:23px; line-height:23px; background:#fff; width:138px; padding-left:10px; position:relative; cursor:pointer;}
.sort_sp i{ display:block; background:url(../images/user_photo/creatph.jpg) repeat-x left bottom; width:15px; border-left:1px solid #E5E3E3; display:block; height:23px; position:absolute; right:0px; top:0px; text-align:center;}
.sort_sp i img{ margin-top:10px;}

.sortph_list{width:148px; border:1px solid #E5E3E3; border-top:0px; border:1px solid #E5E3E3; position:relative; overflow:hidden; left:-1px;}
.sortph_list li{ height:22px; border-bottom:1px solid #E5E3E3; width:148px; background:#fff; line-height:22px; float:left;}
.sortph_list li a{ width:143px; display:block; height:22px;padding-left:5px;}
.sortph_list li a:hover{ background:#F2EFEF; color:#333}
.sortph_list li b{ display:block; width:21px; height:21px; float:left;}
.listsort_a{ background:url(../images/user_photo/phlista.gif) no-repeat;}
.listsort_b{ background:url(../images/user_photo/phlistb.gif) no-repeat;}
.listsort_c{ background:url(../images/user_photo/phlistc.gif) no-repeat;}
.listsort_d{ background:url(../images/user_photo/phlistd.gif) no-repeat;}
.listsort_e{ background:url(../images/user_photo/phliste.gif) no-repeat;}
.listsort_f{ background:url(../images/user_photo/phlistf.gif) no-repeat;}

.photo_list{ width:788px; padding-bottom:20px;}
.photo_listul{ width:168px; float:left; overflow:hidden; margin-left:20px; margin-top:10px; position:relative; z-index:0px;}
.photo_listul li{ width:168px; float:left;}
.photo_bg{ width:165px; height:165px; background:url(../images/user_photo/photobg.jpg) no-repeat;margin-top:5px; padding-left:7px; padding-top:7px; position:relative;}
.photo_bg span{display:block; width:150px; height:150px; }
.photo_bg i{ position:relative; display:block; width:50px; height:20px; float:left; top:-20px;font-style:normal; margin-left:10px; _margin-left:5px;}
.pens{ background:url(../images/user_photo/pens.gif) no-repeat left -2px; background-color:#666;margin-top:3px; margin-left:3px; padding-left:20px; height:20px; color:#FFF;line-height:20px; }
.delp{ background:url(../images/user_photo/delp.gif) no-repeat left -2px;background-color:#666;padding-left:20px; line-height:20px; height:20px; color:#FFF;}
.pens:hover{ background:url(../images/user_photo/pensa.gif) no-repeat left -2px; color:#0864F3;}
.delp:hover{ background:url(../images/user_photo/delpa.gif) no-repeat left -2px;color:#0864F3;}
.photo_name{ color:#585657; padding-left:10px;}
.photos_upload{ background:url(../images/user_photo/uploadph.jpg) no-repeat; display:block; width:66px; height:25px; color:#5B5758; font-family:"宋体"; line-height:25px; padding-left:25px; padding-top:2px; position:absolute; left:130px; top:5px;}

.default_photo{ width:788px; overflow:hidden;}
.default_photo dl{ padding-bottom:15px; overflow:hidden; padding-top:10px;}
.default_photo dt{ width:71px; height:71px; float:left; background:url(../images/user_photo/phs.jpg) no-repeat; padding-left:5px; padding-top:5px;}
.default_photo dt span{ width:60px; height:60px; display:block;}
.default_photo dd{ width:700px; padding-left:12px; float:left;}
.default_photo dd h1{ color:#333;}
.default_photo dd p{ color:#AAA9A9; font-size:12px;}
.photo_warning{ width:746px; border:1px solid #F3D5AB; background:#FAF4C9 url(../images/user_photo/warn.gif) 10px center no-repeat; padding:10px; margin-bottom:10px;
 padding-left:30px; color:#FC7C1E;}
 
 .photo_batch{ height:23px; margin-bottom:2px; _margin-bottom:0px;}
 .batch_default{  background:url(../images/user_photo/creatph.jpg) repeat-x left bottom; line-height:23px; padding-left:10px; padding-right:10px; float:left;border:1px solid #E4E4E4;}
.batch_default i{ background:url(../images/user_photo/batch.gif) no-repeat; width:16px; height:16px; float:left; margin-right:5px; margin-top:3px;} 
.batch_default:hover{ color:#0864F3;}
.batch_default:hover i{ background:url(../images/user_photo/batcha.gif)}
.batch_actived{background:#0864F3; line-height:23px; padding-left:10px; padding-right:10px; float:left;border:1px solid #E4E4E4; color:#FFF;}
.batch_actived i{background:url(../images/user_photo/batched.gif) no-repeat; width:16px; height:16px; float:left; margin-right:5px; margin-top:3px;}
.batch_actived:hover{ color:#fff;}
.batch_op{ line-height:23px; padding-left:5px;color:#0864F3}
.batch_op a{ margin-left:5px; color:#0864F3; margin-right:5px;} 
.batch_op a:hover{ color:#666;}

.picture_opre{ width:788px; overflow:hidden;}
.pictrue_one{ width:262px; float:left; overflow:hidden; margin-top:10px;}
.pictrue_one h1{ color:#666; font-size:12px; width:262px; height:25px; line-height:25px;}
.pictrue_one h1 input{ margin-right:5px;} 
.pictrue_one i{ width:125px; height:125px; border:2px solid #F0ECEC;  text-align:center; display:table; float:left; position:relative;}
.pictrue_one .album_ck{ position:absolute;bottom:3px;right:3px;}
.pictrue_one span{width:125px; height:125px; display:table-cell;  vertical-align:middle;}

.pictrue_one ul{ width:130px; float:left; overflow:hidden; padding-left:3px;}
.pictrue_one ul li{width:130px; color:#999; line-height:22px;}
.pictrue_one ul li b{ float:left; width:16px; height:16px; display:inline-block; margin-right:5px; margin-top:2px;}
.pictrue_one ul li a{ color:#999; display:block; padding-left:5px; width:110px;}
.change{ background:url(../images/user_photo/change.gif) no-repeat;}
.changepic{ background:url(../images/user_photo/changepic.gif) no-repeat;}
.setm{ background:url(../images/user_photo/setm.gif) no-repeat;}
.delpic{ background:url(../images/user_photo/delpic.gif) no-repeat;}
.pictrue_one ul li a:hover{ color:#fff; background:#0A64F0;}
.pictrue_one ul li a:hover .change{ background:url(../images/user_photo/changea.gif) no-repeat;}
.pictrue_one ul li a:hover .changepic{ background:url(../images/user_photo/changepica.gif) no-repeat;}
.pictrue_one ul li a:hover .setm{ background:url(../images/user_photo/setma.gif) no-repeat;}
.pictrue_one ul li a:hover .delpic{ background:url(../images/user_photo/delpica.gif) no-repeat;}

.watermark{ width:788px; overflow:hidden; float:left;}
.watermark dl{ padding-top:10px; border-bottom:1px dotted #DDDDDD; padding-bottom:10px; overflow:hidden; float:left; width:786px;}
.watermark dt{ width:100px; padding-right:10px; text-align:right; float:left;} 
.watermark dd{ float:left; width:670px;}
.water_sp{ color:#999;}
.warterprint{ position:relative;}
.warterprint img{ border:1px dashed #ccc;}
.warterprint a{ background:url(../images/user_photo/imgdel.gif) no-repeat; width:14px; height:14px; position:absolute; left:0px; bottom:4px; bottom:0px\9; *bottom:4px; _bottom:0px;  display:block;}
.water_upload { position:relative;}
.water_upload b{ font-weight:lighter; display:block; float:left;}
.opacity_up input{opacity:0;filter:Alpha(Opacity=0); height:27px;left:-270px; position:absolute; top:0px; width:270px; }
.opacity_txt input{ background:url(../images/user_photo/txtopacity.jpg) no-repeat; width:193px; height:27px; border:0px; margin-right:10px; line-height:27px; padding-left:5px;}
.opacity_submit input{ background:url(../images/user_photo/btnopacity.jpg) no-repeat; width:67px; height:27px; border:0px;}
.watermark dd ul{ width:670px; float:left; overflow:hidden}
.watermark dd ul li{ width:670px; float:left; overflow:hidden; margin-bottom:10px;}
.sint input{ background:url(../images/user_photo/sint.jpg) no-repeat; width:33px; height:21px; border:0px; margin-right:5px; line-height:21px; padding-left:5px;}
.mark_position{ background:url(../images/user_photo/shadow.jpg) no-repeat center bottom; padding-bottom:15px; width:217px; overflow:hidden;}
.mark_outside{ width:213px; border:1px solid #DAD7D7; padding:1px;}
.mark_inside{ border:4px solid #E2EDFC; width:195px; padding-left:10px; background:#fff; padding-bottom:10px;}
.mark_inside h2{ color:#72B7E2;  padding:5px; font-size:12px;}
.marking{ width:195px; overflow:hidden}
.marking a{ display:block; width:58px; height:27px; color:#FFF; background:url(../images/user_photo/wp.jpg) no-repeat; margin-right:5px; _margin-right:4px; margin-top:5px; text-align:center; line-height:27px; float:left;} 
.marking a:hover{ background:url(../images/user_photo/wpa.jpg) no-repeat; color:#fff;} 
.marking .this{ background:url(../images/user_photo/wpative.jpg) no-repeat; color:#C22D05;}
.sintcolor input{ background:url(../images/user_photo/colorinput.jpg) no-repeat; padding-left:5px; height:21px; line-height:21px; width:63px; border:0px;}
.btnsub input{ background:url(../images/user_photo/btnsub.jpg) no-repeat; width:105px; height:28px; color:#FFF; border:0px; margin-top:20px; margin-left:110px; font-size:14px;}
/**2013-08-15相册页-------------------------------------------**/
.ad-gallery {
  width: 600px;
}
.ad-gallery, .ad-gallery * {
  margin: 0;
  padding: 0;
}
  .ad-gallery .ad-image-wrapper {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }
    .ad-gallery .ad-image-wrapper .ad-loader {
      position: absolute;
      z-index: 10;
      top: 48%;
      left: 48%;
      border: 1px solid #CCC;
    }
    .ad-gallery .ad-image-wrapper .ad-next {
      position: absolute;
      right: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 100;
    }
    .ad-gallery .ad-image-wrapper .ad-prev {
      position: absolute;
      left: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 100;
    }
    .ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next {
      /* Or else IE will hide it */
      background: url(../images/user_photo/non-existing.jpg)\9
    }
      .ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(../images/user_photo/ad_prev.png);
        width: 30px;
        height: 30px;
        display: none;
        position: absolute;
        top: 47%;
        left: 0;
        z-index: 101;
      }
      .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(../images/user_photo/ad_next.png);
        width: 30px;
        height: 30px;
        right: 0;
        left: auto;
      }
    .ad-gallery .ad-image-wrapper .ad-image {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 9;
    }
      .ad-gallery .ad-image-wrapper .ad-image a img {
        border: 0;
      }
      .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 7px;
        text-align: left;
        width: 100%;
        z-index: 2;
        background: url(../images/user_photo/opa75.png);
        color: #000;
      }
      * html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        background: none;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='../images/user_photo/opa75.png');
      }
        .ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
          display: block;
        }
  .ad-gallery .ad-controls {
    height: 20px;
  }
    .ad-gallery .ad-info {
      float: left;
    }
    .ad-gallery .ad-slideshow-controls {
      float: right;
    }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
        padding-left: 5px;
        cursor: pointer;
      }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
        padding-left: 5px;
        font-size: 0.9em;
      }
    .ad-gallery .ad-slideshow-running .ad-slideshow-start {
      cursor: default;
      font-style: italic;
    }
  .ad-gallery .ad-nav {
    width: 100%;
    position: relative;
	padding-bottom:10px;
  }
    .ad-gallery .ad-forward, .ad-gallery .ad-back {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 10;
    }
    /* IE 6 doesn't like height: 100% */
    * html .ad-gallery .ad-forward, .ad-gallery .ad-back {
      height: 100px;
    }
    .ad-gallery .ad-back {
      cursor: pointer;
      left: -17px;
      width: 14px;
      display: block;
      background: url(../images/user_photo/top_left_bt.png) 0px 7px no-repeat;
    }
    .ad-gallery .ad-forward {
      cursor: pointer;
      display: block;
      right: -20px;
      width: 14px;
      background: url(../images/user_photo/top_right_bt.png) 0px 7px no-repeat;
    }
    .ad-gallery .ad-nav .ad-thumbs {
      overflow: hidden;
      width: 100%;
    }
      .ad-gallery .ad-thumbs .ad-thumb-list {
        float: left;
        width: 9000px;
        list-style: none;
      }
        .ad-gallery .ad-thumbs li {
          float: left;
          padding-right: 5px;
        }
          .ad-gallery .ad-thumbs li a {
            display: block;
          }
            .ad-gallery .ad-thumbs li a img {
              border: 3px solid #CCC;
              display: block;
            }
            .ad-gallery .ad-thumbs li a.ad-active img {
              border: 3px solid #616161;
            }
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
  position: absolute;
  left: -9000px;
  top: -9000px;
}

/**2013-08-26-----------------------------------------------------**/
.ad-gallery_right { width:130px; float:right; border:1px solid #eeeeee; height:230px; position:absolute; top:90px; right:10px; border-radius:6px; background-color:#f5f5f5; padding:10px; line-height:24px;}
.ad-gallery_right p { float:left; width:130px;}