@charset "utf-8";
/* CSS Document */
/*头部样式*/
.user_index_head{ width:100%; height:60px; background:#FF4401; float:left; position:relative; z-index:100;}
.user_index_head_box{ width:1002px; margin-left:auto; margin-right:auto; position:relative;}
.user_index_head_box h1{ float:left; width:164px; margin-top:10px; height:42px; margin-right:80px;} 
.user_index_nav{ float:left; height:60px; line-height:60px;}
.user_index_nav li{color:#FFFFFF;  font-size:16px;float:left; width:90px; text-align:center; position:relative;} 
.user_index_nav .this{background:url(../images/usercenter/navuser.jpg) no-repeat center bottom; }
.user_index_nav li a{ color:#FFFFFF;}
.user_index_nav .user_pull{ position:relative; width:90px; zoom:1; display:block; z-index:0; }
.user_index_nav .user_pull b{ position:relative;display:block; z-index:2; width:90px; text-align:center; left:0px; top:0px;}
.user_pull b s{ position:absolute;  line-height:0px; height:0px; border-width:5px; border-style:solid; width:0px; transition:transform 0.2s ease-in 0s; top:30px; right:10px; border-color:rgb(255, 255, 255) transparent transparent ;_border-color:rgb(255,255, 255) tomato tomato;_filter:chroma(color=tomato);}
.user_pull b .active{position:absolute;  line-height:0px; height:0px; border-width:5px; border-style:solid; width:0px; transition:transform 0.2s ease-in 0s; top:20px; right:10px; border-color: transparent transparent rgb(255, 255, 255);_border-color: tomato tomato rgb(255,255, 255);_filter:chroma(color=tomato);}
.user_pull_box{ padding-top:60px; margin-top:-60px; width:150px; position:relative; z-index:1;top:0px; }
.user_pull_box ul{ width:128px; padding:10px; border:1px solid #ccc; border-top:0px; box-shadow:0px 0px 3px #ccc; overflow:hidden; background:#fff;}
.user_pull_box ul li{ width:128px; text-align:left; float:left; line-height:25px; height:25px; color:#000; font-size:14px;} 
.user_pull_box ul li a{ color:#000;} 
.user_pull_box ul li a:hover{ color:#F30} 
.user_index_head_search{ position:absolute; top:17px; right:0px;}
.user_index_head_txt{ height:25px; border:1px solid #ddd; background:#FFF; box-shadow:2px 2px 2px #ededed inset; width:240px; float:left;}
.user_index_head_btn{ float:left; width:75px; height:27px; background:#f5f5f5; border:1px solid #ddd; border-left:0px;}
.user_index{ width:1002px; clear:both; margin-left:auto; margin-right:auto; padding-top:20px;}

	



/*左侧菜单样式*/
.aside_left{ width:110px; float:left; margin-right:10px;}
.protitle{ height:30px; line-height:30px; width:100%; font-size:16px;}
.sellul{ width:100%;}
.sellul li{padding-left:10px; position:relative;line-height: 29px;width:100px;margin-bottom: 5px;font-size: 14px;background: url(../images/usercenter/menudian.jpg) no-repeat left 13px;}
.sellul li a{color: #000;display: block; height: 29px;}
.sellul li a:hover{color:#F60}
.sellul .this{color: #fff;display: block;}
.sellul .this a{color:#F30;}
.sellul .other:hover{background: url(../images/usercenter/blue.jpg) no-repeat;color: #FFF}
.sellul .this ul li a{color: #666;}
.sellul li ul li{margin-bottom: 0px; background:none; padding-left:0px; float:left; width:100%;}
.sellul li ul li a{width:100px;overflow: hidden;font-size: 14px;color: #666;}
.sellul_img{ position:absolute; left:-2px; top:10px; float:left;}

.contant_right{ width:882px; float:left;}
.contant_rtop{ width:882px;}
/*事件提醒*/
.contant_waiting{ width:588px; float:left; margin-right:20px;}
.contant_waitul{ float:left; position:relative; top:1px;}
.contant_waitul li{ width:60px; height:50px; border:1px solid #EEE2D7; border-bottom:0px; line-height:50px; text-align:center; margin-left:-1px; float:left}
.contant_waitul .this{ width:60px; height:51px; background:#F2EFE9;}
.waiting_box{ width:586px; border:1px solid #EEE2D7; background:#F2EFE9; margin-left:-1px;float:left; overflow:hidden; height:200px; }
.waiting_box p{ width:80px; float:left; color:#6D6D6D; text-align:center; line-height:40px; margin-right:10px;}
.waiting_box p i{ width:100%; float:left; margin-top:40px;} 
.waiting_box p strong{ width:100%; float:left; font-size:50px;} 
.waiting_box p b{ font-size:14px; width:100%; float:left}
.wait_box_hid{overflow-x:scroll;}
.wait_thing{ width:150px; height:157px; border:1px solid #EEE2D7; background:#fff; float:left; margin-right:10px; margin-top:20px; position:relative;}
.wait_thing b{ padding:10px; width:130px; height:137px; display:block}
.wait_thing_add{ border:1px dashed #EEE2D7; width:150px; height:157px; background:#F7F4F0; display:block; float:left; margin-top:20px;}
.wait_thing_add a{ display:block; width:100%; height:100%; background:url(../images/usercenter/thingsadd.gif) no-repeat 40px center;}
.wait_thing_add a b{ line-height:157px; text-align:center; display:block; width:100%; color:#000}
.emclose{ background:url(../images/usercenter/delalbum.gif) no-repeat; width:13px; height:13px; display:block; position:absolute; top:5px; right:5px;}
/*用户信息*/
.contant_userinfo{ float:left; width:274px;}
.contant_userdl{ width:100%; height:140px; border-bottom:1px solid #E1E1E1;}
.contant_userdl dt{ width:102px; height:102px; float:left; position:relative; margin-right:10px;}
.userpic_edit{display:block; text-align:center; position:absolute; z-index:3; width:102px; height:38px; line-height:38px;  bottom:0px; left:0px;}
.userpic_edit:hover{color:#fff; background:url(../images/usercenter/photoedit.png);}
.userpic_bg{ background:url(../images/usercenter/zp.png) no-repeat; width:102px; height:102px; display:block; position:absolute; z-index:2; top:0px; left:0px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/usercenter/zp.png',sizingMethod='crop');}
.contant_userdl dd{ width:162px; float:left;}
.contant_userdl dd ul{ width:100%;} 
.contant_userdl dd li{ margin-bottom:5px; float:left; width:100%;} 
.contant_user_one{ width:100%; color:#000; font-size:14px;}
.contant_user_one i{ color:#000; padding-left:10px; font-size:12px;}
.contant_user_two img{ margin-right:2px;}
.con_user_three{ width:100%; float:left}
.con_user_three_a{ position:relative;}
.con_user_three_a b{ position:absolute; padding-right:13px; white-space:nowrap; z-index:2;}
.con_user_three_a b s{position:absolute;  line-height:0px; height:0px; border-width:3px; border-style:solid; width:0px; transition:transform 0.2s ease-in 0s; top:7px; right:0px; border-color:rgb(153, 153, 153) transparent transparent  ;_border-color: rgb(153, 153, 153) tomato tomato;_filter:chroma(color=tomato);}
.con_user_three_a b .active{position:absolute;  line-height:0px; height:0px; border-width:3px; border-style:solid; width:0px; transition:transform 0.2s ease-in 0s; top:4px; right:0px; border-color:transparent transparent rgb(153, 153, 153)  ;_border-color: tomato tomato rgb(153, 153, 153);_filter:chroma(color=tomato);}
.user_threebox{ position:absolute; z-index:1;padding-top:25px; width:130px; border:1px solid #ccc; overflow:hidden; left:-5px; top:-5px;}
.user_threebox ul{ width:120px; padding:5px; float:left; overflow:hidden;}
.user_threebox ul li{ width:100%; float:left; line-height:20px;}
.user_threebox ul li em{ color:#F00; font-style:normal}
.contant_user_four{ margin-top:20px; width:100%; float:left}

/*添加功能*/
.contant_use_bottom{ width:100%; float:left;}
.contant_use_bottom .useradd_fun{ width:70px; float:left; margin-right:10px;}
.useradd_fun i{ background:url(../images/usercenter/addfun.jpg) no-repeat center center; width:70px; float:left; height:38px; display:block; margin-top:20px;}
.user_fun_a{ width:68px; height:30px; line-height:30px; display:block; border:1px solid #ccc; text-align:center; float:left; margin-top:10px;}
.userwaring{ width:190px; height:78px; border:1px solid #EEE2D7; float:left; background:#F9F9F9;  margin-top:20px; position:relative;}
.userwaring i{ background:url(../images/usercenter/userwarning.jpg) no-repeat; width:10px; height:13px; position:absolute; left:-10px; top:10px;}
.userwaring a{ width:170px; height:58px; padding:10px; color:#B68571;}
/*添加功能弹出框*/
.fun_box{ background:#6E6159; width:100%; position:relative; clear:both; height:300px;}
.fun_box_i{ background:url(../images/usercenter/fun_san.jpg) no-repeat; width:20px; height:10px; top:-10px; right:100px; display:block; position:absolute;}
.fun_box_in{ display:block; padding:10px; overflow:hidden;}
.fun_box dl{ color:#EEE2D7; padding:5px; overflow:hidden; width:95%; float:left; }
.fun_box dl dt{ width:100%; font-size:16px;} 
.fun_box dl dd{ margin-top:20px; width:100%; font-size:12px;}
.fun_span{ margin-right:20px; width:95px; display:block; float:left; position:relative;}
.fun_span .fun_a{ display:block; display:block; border-radius:5px; text-align:center; overflow:hidden; border:1px solid #6E6159; padding:10px; width:75px; cursor:default}
.fun_span .fun_a em{ display:block; width:75px; text-align:center; float:left; }
.fun_span .fun_a b{ margin-top:10px; width:75px; text-align:center; color:#EEE2D7; float:left;}
.fun_span .fun_a:hover{ border:1px dashed #EEE2D7; overflow:hidden} 
.fun_del{ background:url(../images/usercenter/del.png) no-repeat; width:20px; height:20px; position:absolute; top:0px; right:10px;}
.fun_add{background:url(../images/usercenter/add.png) no-repeat; width:20px; height:20px; position:absolute; top:0px; right:10px;}

/*已买的宝贝*/
.contant_mid{ width:882px; float:left; margin-top:20px;}
.contant_mid .this{ border:1px solid red; position:relative; z-index:2;}
.contant_mid_left{ width:586px; border:1px solid #E1E1E1; overflow:hidden; float:left; height:350px; margin-left:-1px; position:relative; z-index:1;}
.contant_mid_left h3{ width:100%; float:left; margin-top:10px;}
.contant_mid_left h3 span{ font-size:16px; margin-right:30px; float:left; display:block;padding-left:30px; background:url(../images/usercenter/conmidh.jpg) no-repeat 20px center; height:40px; line-height:40px;}
.contant_mid_left h3 ul{  float:left;  overflow:hidden; height:40px; }
.contant_mid_left h3 ul li{ float:left; padding-left:10px;margin-left:-1px; margin-right:10px; line-height:40px; height:40px; background:url(../images/usercenter/comidshu.jpg) no-repeat left center;}
.contant_mleft_box{ width:586px; float:left; overflow:hidden;}
.contant_mone{ width:546px; margin:20px; float:left; border-bottom:1px solid #eee; padding-bottom:40px; _margin-left:10px;}
.contant_mone li{ width:72px; float:left; overflow:hidden; text-align:center; margin-right:20px;}
.contant_mone .mone_img{ width:72px; height:72px; overflow:hidden;}
.contant_mone .mone_img a{ width:70px; height:70px; border:1px solid #fff; display:block; overflow:hidden}
.contant_mone .mone_img a:hover{ border:1px solid #F90;}
.contant_mone .mone_money{ width:100%; margin-top:5px; color:#999; display:block}
.contant_mone_p{ margin:20px;width:546px; text-align:center; _margin-left:10px;}

/*购物车*/
.contant_mid_right{ width:292px; _width:288px; border:1px solid #e1e1e1; z-index:1; overflow:hidden; height:350px; position:relative; left:-1px; _left:-4px;}
.contant_mid_right h3{ width:100%; float:left; margin-top:10px;}
.contant_mid_right h3 span{font-size:16px;  float:left; display:block;padding-left:30px; background:url(../images/usercenter/conmidh.jpg) no-repeat 20px center; height:40px; line-height:40px;}
.contant_mid_rbox{ padding:20px; width:252px; _width:248px;}
.conmid_rone{ width:100%; float:left;}
.conmid_rone dl{ width:100%; float:left; padding-bottom:10px; margin-top:10px;}
.conmid_rone dl dt{ width:70px; height:70px; float:left; margin-right:10px;}
.conmid_rone dl dd{ width:160px; float:left;}
.rone_name { width:160px; height:20px; line-height:20px; overflow:hidden; display:block;}
.rone_name a{ color:#333;}
.rone_name a:hover{ color:#F60;}
.conmid_rone dl dd em{ width:100%; display:block; color:#F00; font-style:normal; margin-top:5px;}
.conmid_rone dl dd em i{ text-decoration:line-through; color:#999; padding-left:10px;}
.conmid_rone dl dd strong{ background:#A0BA59; line-height:20px; color:#fff; padding-left:5px; margin-top:5px; padding-right:5px; display:block; float:left;}
.conmid_p{ width:100%; text-align:center; padding-top:30px; padding-bottom:30px; float:left;border-bottom:1px solid #eee; border-top:1px solid #eee; margin-top:30px;}
.conmid_sp{ width:100%; text-align:center; display:block; float:left; margin-top:20px;}
.conmid_sp a{ color:#000000;}
.conmid_sp a:hover{ color:#FF0000;}

/*添加功能*/
.contant_bottom{ width:100%; float:left;}
.contant_bottom .this{ border:1px solid red; position:relative; z-index:2;}
.conb_collect_shop{ width:292px; border:1px solid #e1e1e1; height:245px; position:relative; top:-1px; z-index:1px; float:left; margin-left:-1px;}
.conb_collect_shop h3{width:100%; float:left; margin-top:10px;}
.conb_collect_shop h3 span{font-size:16px;  float:left; display:block;padding-left:30px; background:url(../images/usercenter/botomshu.jpg) no-repeat 20px center; height:40px; line-height:40px;}
.conbotm_box_collect{ width:292px; position:relative; margin-top:20px; float:left;}
.conb_collect{ width:260px; float:left; overflow:hidden; border-bottom:1px solid #eee; padding-bottom:20px;}
.conb_collect ul{ float:left;}
.conb_collect ul li{ width:80px; float:left; margin-left:5px;}
.conb_collect ul li span{ width:80px; height:80px; overflow:hidden; display:block;}
.conb_collect ul li b{ width:80px; text-align:center; margin-top:10px; display:block}
.conbotm_left ,.conbotm_right{ width:15px; display:block; position:relative; z-index:2; display:block; height:130px; float:left;}
.conbotm_left a{ width:30px; height:30px; background:url(../images/usercenter/conbleft.gif) no-repeat center center; display:block; margin-top:30px; position:absolute; left:-5px;} 
.conbotm_right a{ width:30px; height:30px; background:url(../images/usercenter/conbright.gif) no-repeat center center; display:block; margin-top:30px; position:absolute; left:-10px;}
.conbotm_left a:hover{ background:#000 url(../images/usercenter/conbleft.gif) no-repeat center center;filter:alpha(opacity=40);
-moz-opacity:0.40;
opacity:0.40; left:0px;}
.conbotm_right a:hover{ background:#000 url(../images/usercenter/conbright.gif) no-repeat center center;filter:alpha(opacity=40);
-moz-opacity:0.40;
opacity:0.40; left:-13px;}
.see_collect_shop{ height:40px; line-height:40px; text-align:center;}
.see_collect_shop a{ color:#000;}
.see_collect_shop a strong{ color:#F00}
.see_collect_shop a:hover{ color:#F60}