/* -----------------------------------------------
    www.swfupload.org
    Description: Common Screen Stylesheet for SWFUpload Demos
    Updated on:  May 1, 2008
----------------------------------------------- */


.progressWrapper {
    width: 100%;
    overflow: hidden;
}

.progressContainer {
    margin: 5px;
    padding: 1px;
    border: solid 1px #E8E8E8;
    background-color: #F7F7F7;
    overflow: hidden;
}
/* Message */
.message {
    margin: 1em 0;
    padding: 10px 20px;
    border: solid 1px #FFDD99;
    background-color: #FFFFCC;
    overflow: hidden;
}
/* Error */
.swfupload_red {
    border: solid 1px #B50000;
    background-color: #FFEBEB;
}

/* Current */
.swfupload_green {
    border: solid 1px #DDF0DD;
    background-color: #EBFFEB;
}

/* Complete */
.swfupload_blue {
    border: solid 1px #CEE2F2;
    background-color: #F0F5FF;
}

.progressName {
    display: inline;
    font-size: 8pt;
    font-weight: 700;
    color: #555;
    line-height: 14px;
    height: 14px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
    font-size: 0;
    width: 0%;
    height: 2px;
    background-color: blue;
    margin-top: 2px;
}

.progressBarComplete {
    width: 100%;
    background-color: green;
    visibility: hidden;
}

.progressBarError {
    width: 100%;
    background-color: red;
    visibility: hidden;
}

.progressBarStatus {
    font-size: 8pt;
    font-weight: 700;
    margin-left: 5px;
    display: inline;
    margin-top: 2px;
    font-family: Arial;
    text-align: left;
    white-space: nowrap;
    line-height: normal;
}

a.progressCancel {
    font-size: 0;
    display: block;
    height: 14px;
    width: 14px;
    background-image: url(../images/cancelbutton.gif);
    background-repeat: no-repeat;
    background-position: -14px 0px;
    float: right;
}

a.progressCancel:hover {
    background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
    vertical-align: top;
}

#divFileProgressContainer {
    height: 30px;
}
#divButtonContainer {
    float: left;
    background: url(../images/btn.gif) no-repeat;
    line-height; normal;
    padding: 5px 0px 2px 2px; width: 86px; height : 28px;
}